# .NET
bin/
obj/
*.db
*.db-shm
*.db-wal
appsettings.Development.json
# appsettings.json volontairement tracké avec des placeholders.
# Mettez vos vraies valeurs dans appsettings.Development.json (gitignored).

# Node
node_modules/
dist/
.env

# IDE
.vs/
.vscode/
*.user
